<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CatalogJs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#" (click)="onHomeSelect()" i18n="Homepage nav label@@homeLabel">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" i18n="Categories nav label@@categoriesLabel">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" i18n="About us nav label@@aboutLabel">About Us</a>
        </li>
      </ul>
    </div>
</nav>